.figure {
    cursor: pointer; 
    display: grid;
}

.figure + .figure {
    margin-top: 20px;   
}

.figure span {
    color: #fff;
    font-weight: 600;
    text-align: center;
    align-self: center;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: blue;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid red;
    position: relative;
}

.triangle span {
    position: absolute;
    top: 40px;
    left: -45px;
}

.square {
    width: 150px;
    height: 150px;
    background-color: green;
}

.rectangle {
    width: 200px;
    height: 100px;
    background-color: yellow;
}

.rectangle span {
    color: red;
    text-transform: uppercase;
    font-size: 1.2em;
}

@keyframes circle-anim {
    0% {
        margin-left: 0;
    }

    50% {
        margin-left: 100px;
    }

    100% {
        margin-left: 0;
    }
}

.circle.move {
    animation: ease-out circle-anim infinite 2s;
}

@keyframes triangle-anim {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(45deg);
    }

    75% {
        transform: rotate(-45deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.triangle.move {
    animation: ease-in-out triangle-anim infinite 3s;
}

@keyframes square-anim {
    0% {
        width: 150px;
        height: 150px;
    }

    25% {
        width: 180px;
        height: 120px;
    }

    75% {
        width: 120px;
        height: 180px;
    }

    100% {
        width: 150px;
        height: 150px;
    }
}

.square.move {
    animation: ease-in-out square-anim infinite 2s;
}

@keyframes rectangle-anim {
    0% {
        transform: skew(0, 0);
        box-shadow: 0 0 20px transparent;
    }
    25% {
        width: 250px;
        height: 125px;
        font-size: 1.5em;
        transform: skew(20deg, 20deg);
        box-shadow: 0 10px 20px red;
    }

    75% {
        width: 250px;
        height: 125px;
        font-size: 1.7em;
        transform: skew(-20deg, -20deg);
        box-shadow: -10px 0 20px green;

    }

    100% {
        transform: skew(0, 0);
        box-shadow: 0 0 20px transparent;
    }
}

.rectangle.move {
    animation: rectangle-anim infinite 2s;
}